.post {
    width: 84%;
    margin: 1% auto 5% auto;
}

.post-body {
    display: flex;
    width: 100%;
}

.post-body-left {
    width: 30%;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    border-radius: 8px;
}

.post-body-center {
    width: 2%;
}

.post-body-right {
    width: 68%;
    border-radius: 8px;
}

.edit-curent-user {
    position: absolute;
    top: 280px;
    left: 412px;
}

.edit-curent-user i {
    font-size: 15px;
    padding: 8px 7px;
    cursor: pointer;
    transition: 0.4s;
}

.edit-curent-user i:hover {
    background-color: #eee;
    border-radius: 50%;
}

.post-body-left table {
    margin: 10%;
}

.post-body-left table tr td:first-child {
    text-align: center;
}

.post-body-left table tr td {
    padding: 8px 10px;
}

.post-body-left h5 {
    font-weight: bold;
    font-size: 15px;
    margin: 4% 0 -2.5% 5%;
}

.post-body-left img {
    width: 30%;
    margin: 0 35% 5% 35%;
}

.post-body-left h4 {
    text-align: center;
    margin-bottom: 5%;
}

.post-content-header {
    display: flex;
    width: 90%;
    margin: 2% auto;
}

.post-content-header-left {
    width: 9%;
}

.post-content-header-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-content-header-center {
    width: 81%;
    margin-top: 4px;
}

.post-content-header-center span {
    font-size: 13px;
}

.post-content-header-right {
    width: 10%;
}

.post-content-header-right p {
    font-size: 20px;
    float: right;
    margin-top: 10%;
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.post-content-header-right p:hover {
    background-color: #eee;
}

.post-option {
    position: absolute;
    width: 8%;
    margin: 3% 0 0 -2%;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    animation: fadeIn linear 0.1s;
    animation: growth linear 0.1s;
    --growth-from: 0;
    --growth-to: 1;
}

.post-option p {
    font-size: 14px;
    width: 100%;
    float: left;
    margin: 0;
    padding: 10px 15px;
    color: #5d5d5d;
    cursor: pointer;
    transition: 0.4s;
}

.post-option p:hover {
    border-radius: 0;
    padding: 10px 15px;
    background-color: #eee;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.post-content {
    width: 90%;
    margin: 0 auto;
}

.post-content p {
    margin-bottom: 2px;
}

.post-content span {
    float: right;
    /* font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px; */
}

.post-content img {
    padding: 0 !important;
}

.show-post-content {
    animation: fadeIn linear 0.3s;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
}

.show-hide-content i {
    font-size: 20px;
    color: #f9bf3b;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.show-hide-content i:hover {
    background-color: #f9bf3b;
    color: #fff;
}

.post-form {
    margin: 0 0 3% 0;
    padding: 3% 4%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.post-item {
    margin: 3% 0 0 0;
    padding: 2% 0 5% 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.post-form button {
    font-weight: bold;
    background-color: #f9bf3b;
    color: #fff;
    width: 22%;
    padding: 2px 10px 3px 10px;
    border: 2px dotted #eee;
    transition: 0.4s;
}

.post-form button:hover {
    background-color: #fff;
    color: #f9bf3b;
}

.post-form table {
    width: 80%;
    margin: 3% auto;
}

.post-form table tr td:first-child {
    width: 25%;
    padding: 15px;
}

.post-form table tr td:last-child {
    width: 50%;
}

.post-form table tr:last-child td {
    padding: 15px 0;
}

.post-form table tr:last-child button {
    width: auto;
    border: 2px solid #f9bf3b;
    padding: 0 10px;
}

.post-form table tr:last-child button:hover {
    border: 2px solid #eee;
}

.post-form table tr:last-child button {
    float: right;
}

.post-form table input, .post-form table select, .post-form table textarea {
    text-align: justify;
    width: 100%;
    border: 1px solid #eee;
    padding: 5px;
}

.post-form table input:focus-visible, .post-form button:focus-visible,
.post-form table select:focus-visible, .post-form table textarea:focus-visible {
    outline: 2px solid #f9bf3b;
}

.post-form form {
    width: 700px;
    animation: growth linear 0.2s;
    --growth-from: 0;
    --growth-to: 1;
}

.upload-image-file {
    width: 87.46px;
    height: 87.46px;
    /* border-radius: 50%; */
    margin: 0 3.39px 3.39px 0;
    padding: 5px;
    animation: growth linear 0.2s;
    --growth-from: 0;
    --growth-to: 1;
}

.upload-image-file:hover {
    transform: scale(1.15);
    transition: 1s;
    cursor: pointer;
}

.post-comment hr {
    width: 80%;
    margin: 2% auto;
}

.post-content .click-auction-confirm {
    font-weight: bold;
    justify-content: center;
    background-color: #f9bf3b;
    color: #fff;
    margin: 0 33.6%;
    padding: 5px 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    transition: 0.4s;
}

.post-content .click-auction-confirm:hover {
    background-color: #fff;
    color: #f9bf3b;
}

.post-comment-flex {
    display: flex;
    width: 100%;
    margin: 2% auto 3% auto;
}

.post-comment-flex-left {
    width: 8%;
    margin: 2% 0;
}

.post-comment-flex-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-comment-flex-right {
    width: 92%;
}

.post-comment-content {
    background-color: #eee;
    padding: 10px 30px;
    border-radius: 30px;
}

.post-comment-content p {
    margin-bottom: 0;
}

p.created-date-comment {
    font-size: 13px;
    margin: 1% 0 0 5%;
}

.order-image {
    margin-top: 15px;
}

.add-stock {
    position: absolute;
    top: 303px;
    left: 700px;
}

.add-stock .add-stock-icon {
    font-weight: bold;
    color:#f9bf3b;
}

.add-stock-icon:hover {
    background-color: #f9bf3b;
    color:#fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.add-stock span {
    position: absolute;
    left: 125%;
    width: 70px;
    margin-top: 0.15%;
}

.no-post-found {
    margin: 15% 0px;
    text-align: center;
    color: #dc3545;
}

.modal-edit-post-form {
    margin: 2% auto;
    width: 30%;
    height: 91%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(33 33 33 / 20%);
    background-color: #fff;
    overflow-y: scroll;
    outline: none;
    animation: growth linear 0.25s;
    --growth-from: 0;
    --growth-to: 1;
}

.close-modal-edit-post-form {
    font-size: 20px !important;
    position: fixed;
    top: 3.8%;
    left: 66%;
    font-size: 30px;
    color: #22313f;
    cursor: pointer;
}

.edit-form {
    width: 85%;
    margin: 0 auto;
}

.edit-form h1 {
    text-align: center;
    margin: 12% 0;
}

.edit-form input, .edit-form select, .edit-form textarea {
    text-align: justify;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.edit-form input:focus-visible, .edit-form select:focus-visible, .edit-form textarea:focus-visible {
    outline: 2px solid #f9bf3b;
}

.edit-form button {
    float: right;
    font-weight: bold;
    margin: 6% 0 0 0;
    padding: 0 10px;
    border: 2px solid #f9bf3b;
    background-color: #f9bf3b;
    color: #fff;
    transition: 0.4s;
}

.edit-form button:hover {
    background-color: #fff;
    color: #f9bf3b;
}

.edit-upload-image-file {
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    margin: -20px 0 20px 0;
    padding: 5px;
    animation: growth linear 0.2s;
    --growth-from: 0;
    --growth-to: 1;
}

.edit-upload-image-file:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.edit-error {
    margin-top: -25px;
    color: red;
}

.edit-form-avatar {
    text-align: center;
}

.edit-form-avatar img {
    width: 25%;
    margin: -30px 0 30px 0;
}

.btn-edit-current-user {
    margin: 0 !important;
}

.post-list-null {
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(33 33 33 / 20%);
}

.post-list-null p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10% 0 40.3% 0;
    color: #dc3545;
}