.modal-signin-signup {
    margin: 0 auto;
    width: 80%;
    max-height: 10%;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
}

.modal-signin-signup:focus-visible {
    outline: none;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.close-modal-signin-signup {
    font-size: 20px !important;
    position: fixed;
    top: 2.8%;
    left: 91%;
    font-size: 30px;
    color: #22313f;
    cursor: pointer;
}

.navlink-color, .menu-sign-in-sign-up li:first-child p {
    padding: 15px 14px !important;
    color: #fff;
    transition: 0.5s;
}

.navlink-color:hover, .menu-sign-in-sign-up li:first-child p:hover {
    color: #f9bf3b;
}

.signup ul li .current-user-header {
    font-family: 'montserratsemi_bold';
    font-size: 15px;
    margin: 0 -7px;
    text-transform: none !important;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

.current-menu-item {
    color: #f9bf3b !important;
}

.current-menu-item::before {
    background: #f9bf3b;
    position: absolute;
    width: 65%;
    left: 13px;
    bottom: 0;
    content: "";
    height: 3px;
}

.navbar-nav > li > p {
    padding: 15px 15px 15px 0;
    line-height: 20px;
}

.page-not-found, .authorization-required, .forbidden {
    background: url(image/shipper.jpg);
    background-color: #22313f;
    height: 238px;
    width: 98.5%;
    position: relative;
    margin: 0.8% auto 0.8% auto;
}

.page-not-found::before, .authorization-required::before, .forbidden::before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(34, 47, 60, 0.93);
    content: "";
    width: 100%;
    height: 100%;
}

.page-not-found h1, .authorization-required h1, .forbidden h1 {
    position: absolute;
    font-family: 'montserratsemi_bold';
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}

.page-not-found h1 {
    margin: 6.5% 18.46%;
}

.authorization-required h1 {
    margin: 6.5% 5.56%;
}

.forbidden h1 {
    margin: 6.5% 26.845%;
}

.see-info-current-user {
    color: #fff !important;
    transition: 0.4s;
}

.current-user-cursor-style {
    cursor: text !important;
}

.header-info {
    display: flex;
    position: absolute;
    z-index: 1001;
    top: 14px;
    left: 1045px;
    font-family: 'montserratsemi_bold';
    font-size: 15px;
    color: #919191;
}

.header-info-left {
    margin: 0;
}

.header-info-left .username {
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.header-info-left .username:hover {
    color: #f9bf3b;
}

.header-info-center {
    margin-right: 2%;
}

.header-info-right table tr td {
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.4s;
}

.header-info-right table {
    width: 100%;
}

.header-info-right table tr td:first-child {
    width: 20%;
}

.header-info-right table tr td:last-child {
    padding-left: 0;
    width: 80%;
}

.header-info-right table tr:hover {
    color: #f9bf3b;
}

#expand-more {
    position: absolute;
    top: 15%;
    animation: growth linear 0.2s;
    --growth-from: 0;
    --growth-to: 1;
}

#expand-less {
    position: absolute;
    top: 5%;
}

#expand-less span, #expand-more span {
    margin-right: 8px;
}

#log-out {
    width: 150px;
    margin: 25px 0 0 -40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(33 33 33 / 20%);
    background-color: #fff;
}

#expand-less, #log-out {
    display: none;
    animation: growth linear 0.2s;
    --growth-from: 0;
    --growth-to: 1;
}

.cursor-expand {
    color: #fff;
    cursor: pointer;
}