.info-comment {
    float: right;
}

#see-more-auction-order-info-2 {
    animation: fadeIn linear 0.3s;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
    cursor: text;
}

.auction-customer-info-right span:nth-child(2) {
    float: right;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.auction-customer-info-right span:nth-child(2):hover {
    background-color: #eee;
}

.auction-option {
    position: absolute;
    left: 70%;
    top: 58%;
    width: 8.5%;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    animation: fadeIn linear 0.1s;
    animation: growth linear 0.1s;
    --growth-from: 0;
    --growth-to: 1;
}

.auction-option p {
    margin: 0;
    padding: 10px 15px;
    color: #5d5d5d;
    cursor: pointer;
    transition: 0.4s;
}

.auction-option p:hover {
    background-color: #eee;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

#see-less-auction-order-info, #see-more-auction-order-info-1 {
    color: #f9bf3b;
}

#see-less-auction-order-info {
    margin-bottom: 18px !important;
}

#see-less-auction-order-info span, #see-more-auction-order-info-1 span {
    padding-left: 5px;
}

.see-another-page, .see-another-page:hover {
    font-family: 'montserratsemi_bold';
    color: #f9bf3b;
}

.modal-remove-auction-post {
    z-index: 100;
}

.no-comment-found {
    margin: 0 auto;
}

.no-comment-found p {
    font-size: 18px;
    margin: 0;
}

.cmt-message {
    font-size: 16px;
    text-align: center;
    color: red;
    margin-bottom: 18px;
}

.auction-area-comment-info input {
    background-color: #fff !important;
    width: 91% !important;
}

.auction-area-comment-info button {
    background-color: none;
    border: none;
    transition: 0.4s;
}

.auction-area-comment-info button:hover {
    color: #f9bf3b;
}

.cancel-edit-auction {
    font-weight: bold;
    color: #dc3545;
    cursor: pointer;
}