@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

#show-about-content {
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
    cursor: text;
}