@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.radio-select-shipper {
    margin: 74% 30% !important;
}

.auction-confirmation {
    text-align: center;
    margin: 5% 0;
}

.auction-confirmation button {
    font-weight: bold;
    background-color: #f9bf3b;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #f9bf3b;
    transition: 0.4s;
}

.auction-confirmation button:hover {
    background-color: #fff;
    color: #f9bf3b;
}

.shipper-info-chosen {
    width: 92%;
    margin: 5% auto 2% auto;
    height: 450px;
}

.shipper-info-chosen p {
    margin: 5px;
}

.shipper-info-chosen-body {
    display: flex;
    margin-top: 2%;
    padding: 5% 10% 3% 0%;
    border: 1px solid #e3e3e3;
}

.shipper-info-chosen-left {
    width: 60%;
    text-align: center;
    padding-right: 8%;
}

.shipper-info-chosen-right {
    width: 40%;
    padding-top: 10px;
}

.shipper-info-chosen-right p img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.shipper-info-chosen-left img {
    margin-bottom: 30px;
    width: 200px !important;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.shipper-info-chosen-right p {
    margin-bottom: 40px;
}

.shipper-info-chosen-right p span {
    float: right;
}

.auction-area-comment h2 {
    font-size: 24px !important;
}

.auction-area-comment-info strong {
    color: #5d5d5d;
    transition: 0.4s !important;
}

.auction-area-comment-info strong:hover {
    text-decoration-line: underline;
}

.pay-method {
    margin: 5% 23% 10% 23%;
    animation: growth linear 0.2s;
    --growth-from: 0;
    --growth-to: 1;
}

.pay-method input {
    margin-left: 45%;
}

.pay-method img {
    text-align: center;
    width: 60px !important;
    height: 60px;
    margin-left: 5%;
}

.pay-method p {
    margin-top: 2%;
}

.pay-method p span:first-child {
    margin-left: 12.5%;
    margin-right: 60.5%;
}

.pay-method p span:nth-child(2) {
    margin-right: 20%;
}

.momo-qr-code {
    margin-top: 10%;
    text-align: center;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
}

.momo-qr-code img {
    margin-left: 0;
    width: 150px !important;
    height: 150px;
}

.modal-shipper-rating {
    margin: 2% auto;
    width: 70%;
    height: 91%;
    box-shadow: 0 0 5px rgb(33 33 33 / 20%);
    background-color: #fff;
    outline: none;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
}

.close-modal-shipper-rating {
    font-size: 20px !important;
    position: fixed;
    top: 3.8%;
    left: 86%;
    font-size: 30px;
    color: #22313f;
    cursor: pointer;
}

.shipper-info-rating td {
    padding: 1% !important;
}