@media screen and (max-width: 600px) {

    /* General Setting */
    .order_us_content_title > h2, .contact_us_content_title > h2 {
        font-size: 17px !important;
        margin-top: 40%;
    }
    .about_us_content_title > h2 {
        font-size: 17px !important;
        margin-top: 22%;
    }
    .sp-detail-title {
        margin-top: 3% !important;
    }
    .title > h2 {
        font-size: 20px !important;
    }
    ul {
        margin-top: 10%;
    }
    .breadcrumbs-sp {
        margin-top: -62% !important;
        margin-left: 263px !important;
    }
    .breadcrumbs-sp2 {
        margin-top: -72% !important;
        margin-left: 263px !important;
    }
    .pricing-desc.section-padding-two {
        margin-top: 5%;
    }
    .pricing-desc.section-padding-two.item2 {
        margin-top: 12%;
    }
    .about-us-bottom-area, .order-bottom-area, .order-us-bottom-area {
        padding: 0 12px 70px 12px;
    }
    .res-header-menu-img img {
        /* margin-left: 18%; */
        display: block;
        max-width: 130%;
    }
    div.about_car img, .google-map img {
        margin: 0 auto;
        width: 100%;
    }
    .res-intro-about {
        margin: 2% 0;
    }
    .pricing-desc .title {
        width: 60%;
    }
    .owl-customer-comment {
        width: 90%;
    }
    .owl-customer-comment-detail {
        padding-left: 60px;
    }
    .contact-page-area {
        padding: 6% 0 0 0;
    }
    

    /* Menu */
    .current-menu-item::before {
        width: 15% !important;
    }
    /* .current-menu-item::before {
        width: 15%;
        left: 14%;
    } */


    /* Notification Bell */
    .icons-bell {
        display: inline;
        float: right;
        margin: 0% 2% 5% 1%;
    }
    .box-bell {
        width: 275px;
        padding: 0px;
        left: -440%;
        margin-top: 5px;
    }
    .fas-bell {
        margin-right: 10px;
    }
    .txt-bell {
        font-size: 1.55rem;
        padding: 5px 0px 0px 115px;
    }
    .profile-bell {
        padding-top: 10px;
    }
    .sec-bell {
        padding: 10px 5px;
    }

    /* table-order-list-area */
    .table-order-list-area {
        height: 280px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    div.new-page-tab {
        width: 250%;
        padding: 5px;
    }
    div.create-post {
        display: inline;
        width: 100%;
    }
    div.create-post-right input {
        border: 1px solid #eee;
        margin: 2% 4% 2% -5%;
    }
    div.create-post-right button {
        margin-left: 106%;
        border: 1px solid #eee;
    }
    div.create-post-right button:hover {
        border: 1px solid #eee;
    }

    /* Auction */
    div.auction-area {
        width: 98%;
    }
    div.auction-customer-info {
        display: flex;
        width: 300px;
        padding: 4% 4% 0 4%;
    }
    div.auction-customer-info-left {
        width: 20%;
    }
    div.auction-customer-info-right {
        width: 80%;
        margin: 0;
    }
    div.auction-customer-info img {
        width: 40px;
        height: 40px;
    }
    div.auction-area-comment {
        width: 100%;
    }
    div.order-image img {
        margin: 0;
        width: 100% !important;
    }
    div.auction-area-comment-flex-left img {
        width: 40px;
        height: 40px;
    }
    div.auction-area-comment-flex-left {
        width: auto;
        padding: 0 10px;
    }

    /* Shipper */
    div.shipper-info {
        display: inherit;
        width: 100%;
    }
    div.shipper-info-left {
        width: 80%;
        margin: 0 0 4% 18.5%;
    }
    div.shipper-info-right {
        width: auto;
    }
    div.shipper-info-right td {
        width: auto;
    }
    .txt-right-rating {
        font-size: 12px !important;
        width: auto;
    }
    div.shipper-info-right tr:last-child p {
        font-size: 16px;
        padding-left: 8%;
    }
    div.shipper-info-right p.community-rating {
        font-size: 13px;
    }
    div.shipper-info-right textarea {
        width: 92%;
    }
    div.shipper-info-right td.shipper-highlight-info {
        font-size: 20px;
        font-weight: bold;
    }
    .scroll-shipper-list {
        height: 300px;
        overflow-y: scroll;
    }
    .scroll-order-list {
        height: 300px;
        overflow-y: scroll;
    }



    /* Footer */
    div.goToTop a > img {
        width: 40px;
    }
    div.goToTop a > img:hover {
        width: 40px;
    }
}