div.shipper-info {
	display: flex;
	margin: 0 auto;
	width: 90%;
}

div.shipper-info img {
	width: 80%;
}

div.shipper-info-left {
	width: 40%;
}

div.shipper-info-right {
	width: 60%;
}

div.shipper-info-right td {
	width: 2%;
	padding: 2%;
	font-size: 16px;
}

div.shipper-info-right h3 {
	padding: 5%;
}

div.shipper-info-right p.community-rating {
	font-weight: normal;
	font-size: 16px;
	padding: 5%;
}

div.shipper-info-right tr:last-child {
	text-align: right;
}

div.shipper-info-right tr:last-child p {
	text-align: left;
	font-size: 18px;
	padding-left: 30%;
}

div.shipper-info-right td.shipper-highlight-info {
	font-size: 25px;
	font-weight: bold;
}

div.shipper-info-right textarea {
	padding: 2%;
	border-radius: 10px;
	border-color: #dddddd;
}

div.shipper-info-right button {
	font-weight: bold;
	font-size: 14px;
	padding: 2% 4%;
	border: 2px solid #eee;
	background-color: #f9bf3b;
	color: #fff;
	transition: 0.5s;
}

div.shipper-info-right button:hover {
	background-color: #fff;
	color: #f9bf3b;
}

td.col-confirm-rating {
	width: 0.2% !important;
}

td.col-confirm-rating a {
	width: 200%;
	font-size: 150%;
	text-align: left;
	background-color: #fff;
	color: #5d5d5d;
	border: none;
	cursor: pointer;
	transition: 0.5s;
}

td.col-confirm-rating a:hover {
	color: #1cb33c;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

div, label {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.5em;
	margin: 10px;
}

#rating {
	padding: -1%;
}

#rating > input { /* an input radio - cause we got a lable is GUI */
	display: none;
}

#rating > label:before { /* one star */
	margin: 5px;
	font-size: 2em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

#rating > .half:before { /* 0.5 stars */
	content: "\f089";
	position: absolute;
}

#rating > label { /* float:right de lat nguoc ngoi sao */
	color: #ddd;
	float: right;
}

/* Them mau ngoi sao */
#rating > input:checked ~ label,
#rating:not(:checked) > label:hover, 
#rating:not(:checked) > label:hover ~ label {
	color: #FFD700;
}

/* Hover vao cac ngoi sao phia truoc */
#rating > input:checked + label:hover,
#rating > input:checked ~ label:hover,
#rating > label:hover ~ input:checked ~ label,
#rating > input:checked ~ label:hover ~ label {
	color: #FFED85;
}

button#confirm-rating {
	width: 80px;
}