.body-s {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -5px auto;
}

.h1-s {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.h1-title-s {
    font-weight: bold;
    font-size: 36px;
    font-family: cursive;
    margin: 0;
    color: black;
}

.p-s {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


.a-s {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    cursor: pointer;
}

.img-s {
    width: 100%;
    margin-bottom: 8%;
}

.btn-s {
    border-radius: 20px;
    border: 1px solid #22313f;
    background-color: #22313f;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.5s,border-color 0.5s, color 0.5s;
    cursor: pointer;
}
.btn-s:hover {
    background-color: #f9bf3b;
    border-color: #f9bf3b;
    color: #fff;
}

.btn-s:active {
    transform: scale(0.95);
}

.btn-s:focus {
    outline: none;
}

button.ghost {
    background-color: #f9bf3b;
    border-color: #f9bf3b;
    color: #fff;
    cursor: pointer;
}

button.ghost:hover {
    background-color: #fff;
    border-color: #fff;
    color: #f9bf3b;
}

.form-s {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    height: 100%;
    text-align: center;
}

div.sign-up-container input, div.sign-up-container select {
    background-color: #eee;
    border: none;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 6px 5px;
    width: 46.9%;
}

div.sign-up-container input:focus-visible, div.sign-up-container select:focus-visible,
iv.radio-role input:focus-visible, div.sign-in-container input:focus-visible, input[type=file]:focus-visible {
    outline: 1px auto #f9bf3b;
}

div.radio-role {
    display: flex;
    padding: 10px 0px;
    color: #5d5d5d;
}

div.radio-role input {
    margin: 0.7%;
    width: 8%;
}

div.radio-role span {
    margin-left: 14%;
}

div.sign-up-container option {
    color: #757575;
}

div.sign-up-container option {
    width: 100px;
}

div.sign-in-container input {
    background-color: #eee;
    border: none;
    border-radius: 20px;
    margin: 6px 5px;
    padding: 12px;
    width: 80%;
}

input[type=file] {
    display: inline;
}
.container-s {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 92%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-s.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-s.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container-s.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background-color: #22313f;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container-s.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container-s.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container-s.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 0.4s;
}

.social-container a:hover {
    color: #fff;
    background-color: #f9bf3b;
}

span.error {
    color: red;
    font-size: 16px;
}