@media screen and (max-device-width: 800px) {
    #bgvid {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}
  
::-webkit-scrollbar-thumb {
    background-color: #f9bf3b;
    border: 2px solid #f9bf3b;
    border-radius: 10px;
}

.header_area {
    position: relative;
}

.header_area:before {
    position: absolute;
    background: #22313f none repeat scroll 0 0;
    height: 100%;
    width: 100%;
}

.logo_menu {
    position: absolute !important;
    width: 100%;
    z-index: 0;
    transition: .4s
}

.row-impacted {
    margin-top: 32px;
}

.is-sticky #sticker {
    background: #22313f none repeat scroll 0 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100% !important;
    height: 50px;
}

.is-sticky .logo > img {
    margin-top: 8px;
}

nav.navbar {
    margin-bottom: 0;
    border: 0;
    margin: 0 12px;
}

.mean-container .mean-bar {
  background: transparent none repeat scroll 0 0;
}

.logo {
    padding: 11px 20px;
}

.menu-main, .signup li p {
    font-size: 12px;
    font-family: 'montserratsemi_bold';
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: .4s;
    transition: .4s
}

.caret {
  margin-left: 5px;
}

.menu li:last-child a {
    padding-right: 15px;
}

.menu-main:hover:before {
    width: 60%;
}

.menu-main:hover, .signup li a:hover {
    color: #f9bf3b !important;
}

.menu-main:before {
    background: #f9bf3b;
    position: absolute;
    width: 0%;
    left: 20%;
    bottom: 0;
    content: "";
    height: 3px;
    -webkit-transition: .4s;
    transition: .4s
}

.signup {
    padding-left: 10px;
}

.signup:before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.signup ul li:last-child p {
    background: #f9bf3b none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 20px;
    margin-left: 8px;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.signup ul li:first-child p {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.4s;
}

.signup ul li:last-child p:hover {
    background: #fff none repeat scroll 0 0;
    color: #f9bf3b;
}

.welcome_text {
    position: relative;
    z-index: 0;
    margin-top: 10%
}

.welcome_text:before {
    background: #f9bf3b none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    top: -20%;
    width: 70px;
}

.welcome_form {
    display: inline-block;
    position: relative;
    width: 690px;
    height: 75px;
}

.welcome_text p {
    color: #fff;
    line-height: 26px;
}

.welcome_p {
    margin-bottom: 65px;
    margin-top: 23px;
}

.welcome_text h1 {
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    font-family: 'montserratbold';
}

.welcome_form .form-control {
    border: medium none;
    border-radius: 50px;
    font-size: 16px;
    height: 55px;
    padding-left: 35px;
    width: 100%;
}

.welcome_form .form-control::-moz-placeholder {
    color: #b2b2b2;
    text-transform: capitalize;
    font-size: 16px;
}

.submit {
    background: #f9bf3b none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    height: 59%;
    position: absolute;
    right: 1%;
    text-transform: capitalize;
    top: 7.7%;
    width: 260px;
}

.about_top {
    padding: 6% 0;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 40px; 
}

.about_single_item {
    color: #5d5d5d;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid rgb(218, 218, 218);
    transition: 0.4s;
}

.about_single_item_1 {
    height: 165px;
    color: #5d5d5d;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid rgb(218, 218, 218);
    transition: 0.4s;
}

.about_single_item:hover, .about_single_item_1:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.item_icon {
    float: left;
    margin-right: 30px;
    width: 55px;
}

.item_icon img {
    width: 120%;
}

.about_single_item_content {
    padding-left: 32%;
}

.about_single_item_content span {
    font-size: 16px;
    float: right;
}

.about_single_item_content h4 {
    color: #22313f;
    margin-bottom: 20px;
    font-family: 'montserratbold';
}


.about_us_content h2 {
    color: #000000;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'montserratbold';
}

.about_us_content p {
    text-align: justify;
}


.index_area {
    padding: 6% 0;
}

.about_us_area {
    padding: 6% 0 100px 0;
}

.order_us_area {
    padding: 6% 0 0 0;
}

#show-read-more, #hide-away {
    color: #f9bf3b;
    display: inline-block;
    font-family: "montserratbold";
    margin-top: 40px;
    text-transform: uppercase;
}

#show-read-more span, #hide-away span {
    padding-left: 10px;
}

.couter-up-area {
    height: 320px;
    width: 95%;
    position: relative;
    background: url(../img/shipper.jpg) no-repeat center;
    margin: 0 auto 5% auto;
}

.couter-up-area .container {
    width: 72%;
    margin-left: 28%;
}

.couter-up-area:before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(34, 47, 60, 0.93);
    content: "";
    width: 100%;
    height: 100%;
}

.single-count > h1 {
    color: #f9bf3b;
    font-size: 60px;
    font-family: "montserratbold";
}

.single-count > h5 {
    color: #fff;
    font-family: 'montserratlight';
    font-size: 16px;
    text-transform: capitalize
}

.single-count:before {
    background: #f9bf3b none repeat scroll 0 0;
    content: "";
    height: 45px;
    left: 0;
    margin-top: -22.5px;
    position: absolute;
    top: 50%;
    width: 5px;
}

.pricing-area {
    padding-bottom: 57px;
    position: relative;
    height: 700px;
    overflow: hidden;
}

.pricing-tables {
    position: absolute;
    right: 0;
    top: -0%;
    width: 50%;
    height: 100%;
}

.pricing-desc {
    color: #5d5d5d;
    font-weight: 300;
    line-height: 28px;
}

.pricing-desc .title {
    margin-bottom: 35px;
}

.title > h2 {
    color: #000000;
    font-family: "montserratbold";
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h6.price-title {
    color: #22313f;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'montserratbold';
}

.price p {
    color: #222222;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    margin: 0;
}

span.pricing-status {
    color: #999999;
    display: block;
    font-weight: 300;
    margin-top: -2px;
}

.pricing-body ul li {
    color: #222222;
    font-weight: 400;
    padding: 15px 0;
    position: relative;
}

.pricing-body ul li:after {
    background: #dfdfdf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -38px;
    position: absolute;
    width: 75px;
}

.price {
    margin-bottom: 37px;
    position: relative;
}

.price:after, .price:before {
    background: #f9690e none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.price:before {
    left: auto;
    right: 0;
}

.price-btn {
    background: #222222 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
}

.main-pos .single-pricing-table .price-btn {
    background-color: #f9690e;
}

.price-btn:hover {
  background: white none repeat scroll 0 0 !important;
  border: 1px solid #eee;
  color: #f9690e !important;
}

.pricing-area .main-pos {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.14);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    width: 320px !important;
    z-index: 0;
}

.single-pricing-table {
    background: #fff none repeat scroll 0 0;
    padding: 26px 0;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    text-align: center;
}

.items.slides.main-pos .price > p {
    color: #f9690e;
}

.pricing-slider {
    height: 100%;
}

.pricing-slider .carousel {
    margin: 0;
    overflow: hidden;
    height: 100%;
    text-align: center;
    width: 100%;
}

li.slides {
    background: #333 none repeat scroll 0 0;
    display: inline-block;
    height: 450px;
    opacity: 0.1;
    filter: alpha(opacity=10);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 320px;
}

.items {
    margin: 38px 0;
    position: absolute;
}



div.slider-navs {
    left: 50%;
    margin-left: -55px;
    position: absolute;
    top: 33%;
    width: 650px;
}
.carousel {
    position: static;
}

div.slider-navs div {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 31px;
    left: 0;
    line-height: 31px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 31px;
    z-index: 0;
}

div.slider-navs div.next-nav {
    left: auto;
    right: 25%;
}

.column-out {
    height: 100%;
    position: absolute;
    right: 0;
    top: 13%;
    width: 60%;
}

video {
    display: block;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.version-2 .welcome_p {
    margin-bottom: 0;
}

.version2-hero .logo_menu {
    top: 40px;
}

.hero-theme .owl-nav div.owl-prev {
    margin-top: -35px;
    position: absolute;
    top: 50%;
}

.hero-theme .owl-nav div.owl-next {
    margin-top: -35px;
    position: absolute;
    right: 0;
    top: 50%;
}

.hero-theme .owl-nav div:hover {
    background: #fff;
    color: #F9BF3B
}

.hero-theme .owl-nav div {
    background: #F9BF3B none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    width: 50px;
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

.bgslider {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.third.header_area:before {
    z-index: 0;
}

.singlebgslider img {
    width: 100%;
    height: 100%;
}

.footer-area {
    width: 100%;
    background: #22313f none repeat scroll 0 0;
    padding: 55px 0;
}

.footer-area p {
    color: #919191;
}

.single-footer > h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.single-footer img {
    width: 90%;
}

.single-footer {
    color: #fff;
    font-size: 14px;
}

.submt-button {
    font-weight: bold;
    background: #f9bf3b none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 40px;
    margin-top: 15px;
    text-transform: uppercase;
    width: 50%;
    float: right;
    transition: 0.4s;
}

.submt-button:hover {
    background: #fff none repeat scroll 0 0;
    color: #f9bf3b;
}

.single-footer .form-control {
    background: #4d4d4f none repeat scroll 0 0;
    border: 1px solid #626262;
    color: #e6e6e8
}

.footer-text {
    line-height: 52px;
    color: #fff
}

.footer-text p {
    margin-bottom: 0;
    font-size: 14px;
}

.copyright-area {
    background: #17242f none repeat scroll 0 0;
}

.footer-text a {
    background: #f9bf3b none repeat scroll 0 0;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    padding: 5px 8px;
    text-align: center;
    width: 30px;
    transition: 0.5s
}

.footer-text a:hover {
    background: #fff none repeat scroll 0 0;
    color: #f9bf3b;
}

.list li, .list li > a {
    color: #919191;
    line-height: 25px;
    text-transform: capitalize;
    transition: 0.4s;
    cursor: pointer;
}

.list li:hover, .list li > a:hover {
    color: #F9BF3B;
}


.owl-customer-comment {
    width: 85%;
    position: relative;
    margin: 2% auto 5% auto;
    z-index: 0 !important;
}

.owl-customer-comment img {
    width: 60% !important;
    margin: 0 auto 8% auto;
}

.owl-customer-comment h4 {
    text-align: center;
    margin: 0 auto 5% auto;
}

.owl-customer-comment p {
    text-align: justify;
}

.owl-customer-comment-detail {
    width: 80%;
}

.four.header_area {
    background: none;
}

.four.header_area:before {
    display: none;
}

.hero_area {
    height: 100%;
}

.hero_area .item {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hero_area .carousel.slide {
    height: 100%;
}

.hero_area .carousel-inner {
    height: 100%;
}

.hero_area .carousel-caption {
    height: 100%;
}

.hero_area .item:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    top: 0;
    width: 100%;
}

.header_area.five:before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.header_area.five {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.info h1 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'montserratbold';
}

.about-us .logo_menu {
    background: #22313f none repeat scroll 0 0;
    top: 0;
    height: 50px;
}

.single-about-us-bottom h4, .single-order-us-bottom h4 {
    color: #111;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-us-bottom-area, .order-bottom-area {
    padding-bottom: 70px;
}

.single-about-us-bottom, .single-order-us-bottom {
    border: 1px solid rgb(218, 218, 218);
    padding: 20px;
    position: relative;
    transition: 0.4s;
}

.single-order-us-bottom {
    height: 280px;
    margin-bottom: 7.8%;
}

.single-about-us-bottom:hover, .single-order-us-bottom:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.single-order-us-bottom span {
    font-size: 16px;
    margin-left: 10px;
}

.single-about-us-bottom:before, .single-order-us-bottom:before {
    background: red none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 25%;
    position: absolute;
    top: 0;
    width: 60%;
}

ul.breadcrumbs li {
    display: inline-block;
    text-transform: uppercase;
}

.breadcrumbs li a {
    color: #8a8a92;
}

.breadcrumbs li:first-child a {
    margin-right: 10px;
    position: relative;
    padding-right: 13px
}

.breadcrumbs li:first-child a:before {
    background: #bbbbbb none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.about_us_content_title, .contact_us_content_title, .order_us_content_title {
    margin-bottom: 50px;
}

.shipper_content_title {
    margin-bottom: 50px;
    text-transform: capitalize;
    width: 118%;
}

.about_us_content_title > h2, .order_us_content_title > h2, .contact_us_content_title > h2 {
    margin-bottom: 5px;
    padding: 15px 0;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
}

.about_us_content_title h5 {
    font-size: 14px !important;
}

.about-us .is-sticky .logo {
    padding: 11px 20px;
}


/*version 6 pricing area css*/

.pricing-area.version-6 {
    height: auto;
    padding: 80px 0;
    padding-top: 130px;
}

.single-pricing-table {
    border: 1px solid #e3e3e3;
    padding-bottom: 30px;
    padding-top: 30px;
}

.pricing-title > h1 {
    color: #222;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 56px;
    font-family: 'montserratblack';
}

.pricing-title {
    margin-bottom: 10px;
    padding-bottom: 40px;
    position: relative;
}

.price-list li {
    color: #222;
    font-weight: 500;
    line-height: 50px;
    font-family: 'montserratbold';
    border-bottom: 1px solid #eee;
}

.pricing-title h6 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'montserratbold';
    color: #222;
}

.order-buton > span {
    display: inline-block;
    background: #f9bf3b none repeat scroll 0 0;
    border: 2px solid #eee;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
}

.order-buton span:hover {
    border: 2px solid #eee;
    background-color: #fff;
    color: #f9bf3b;
}

.order-us-bottom-area {
    margin-bottom: 5%;
}

.contact-page-area {
    padding: 6% 0 80px;
}

.contact-form input {
    border: 2px solid #eee;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 3%;
    width: 100%;
}

.contact-form textarea {
    border: 2px solid #eee;
    height: 200px;
    margin-bottom: 30px;
    padding: 20px 3%;
    width: 100%;
}

.contact-form input:focus-visible, .contact-form textarea:focus-visible {
    outline: 1px auto #f9bf3b;
}

.contact_page_headings {
    color: #222;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: 'montserratsemi_bold';
}

.contact-form button {
    padding: 8px;
    border: 2px solid #eee;
    background: #f9bf3b none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    width: 40%;
    transition: 0.4s
}

.contact-form button:hover {
    background: #fff;
    color: #f9bf3b
}

.google-map > div {
    height: 400px;
    margin-top: 69px;
    width: 100%;
}

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

/*----- MAIN CSS -----*/

div.create-post {
    display: flex;
    width: 100%;
}

div.create-post-left {
    width: 20%;
}

div.create-post-right {
    width: 80%;
    padding: 2%;
    animation: fadeIn linear 0.3s;
    animation: growth linear 0.3s;
    --growth-from: 0;
    --growth-to: 1;
}

div.shipper-list-filter {
    margin-bottom: 3%;
}

div.shipper-list-filter input {
    width: 20.6%;
    padding: 6px 10px;
    margin-right: 1.5%;
    border: 1px solid #eee;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

div.shipper-list-filter input:focus {
    width: 37.25%;
}

div.shipper-list-filter input:focus-visible {
    outline: 1px auto #f9bf3b;
}

div.shipper-list-filter button {
    font-weight: bold;
    padding: 6px 10px;
    border: 1px solid #eee;
    background-color: #f9bf3b;
    color: #fff;
    transition: 0.4s;
}

div.shipper-list-filter button:hover {
    color: #f9bf3b;
    background-color: #fff;
}

/* div.shipper-list-filter input.ml-spf {
    margin-left: 29px;
} */

div.create-post-right input {
    border: 2px solid #eee;
    margin: 2% 4% 2% 20%;
    padding: 2.5%;
    width: 150%;
}

div.create-post-right input:focus-visible {
    outline: 1px auto #f9bf3b;
}

div.create-post-right button {
    font-weight: bold;
    margin-left: 136.5%;
    padding: 2% 3%;
    border: 2px solid #eee;
    background-color: #f9bf3b;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

div.create-post-right button:hover {
    border: 2px solid #eee;
    background-color: #fff;
    color: #f9bf3b;
}

div.create-post-right tr:last-child td {
    height: 60px;
}

div.new-page-tab {
    font-weight: bold;
    text-align: center;
    border: 2px solid #eee;
    margin: 12% 0;
    padding: 4%;
    color: #fff;
    background-color: #f9bf3b;
    width: 80%;
    cursor: pointer;
    transition: 0.4s;
}

div.new-page-tab:hover {
    border: 2px solid #eee;
    color: #f9bf3b;
    background-color: #fff;
}

table.table-list {
    text-align: center;
    width: 100%;
    margin: 3% auto;
    border: 1px solid #eee;
}

table.table-list img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

table.table-list td {
    padding: 5px;
}

table.table-list thead th {
    padding: 10px;
}

table.table-list thead th, table.table-list tr td:first-child {
    font-weight: bold;
    text-align: center;
}

table.table-list tbody tr:hover {
    background-color: #eee;
    transition: 0.25s;
    cursor: pointer;
}

.order-list-filter input {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 2px 4px;
}

.order-list-filter input:focus-visible {
    outline: 1px auto #f9bf3b;
}

.order-list-filter button {
    font-weight: bold;
    border: 1px solid #eee;
    background-color: #f9bf3b;
    color: #fff;
    margin: 2px;
    padding: 2px 4px;
    transition: 0.4s;
}

.order-list-filter button:hover {
    background-color: #fff;
    color: #f9bf3b;
}

div.auction-area {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
}

div.order-image img {
    width: 100%;
}

div.auction-area-comment {
    width: 80%;
    margin: 2% auto;
}

div.auction-customer-info {
    display: flex;
    padding: 4% 4% 0 4%;
}

div.auction-customer-info img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

div.auction-customer-info-left {
    width: 15%;
}

div.auction-customer-info-right {
    width: 88%;
    margin: 1.5% 0 0 -3%;
}

div.auction-customer-info-right span:first-child {
    font-weight: bold;
}

div.auction-customer-info-right span:last-child {
    font-size: 13px;
}

div.auction-order-info {
    width: 90%;
    margin: 4% auto 0 auto;
}

div.auction-order-info p {
    margin: 0 0 5px;
}

div#see-more-auction-order-info-2 {
    display: none;
}

#see-more-auction-order-info-1, #see-less-auction-order-info {
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

#see-less-auction-order-info {
    margin-top: 20px;
}

div.auction-area-comment {
    padding-bottom: 4%;
}

div.auction-area-comment-flex {
    display: flex;
    width: 100%;
}

div.auction-area-comment-flex-left {
    width: 10%;
    padding: 0 10px;
}

div.auction-area-comment-flex-left img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

div.auction-area-comment-flex-center {
    width: 85%;
}

div.auction-area-comment-flex-center input {
    background-color: #eee;
    border-radius: 20px;
    border: 2px solid #eee;
    margin: 1% 2% 1% 1%;
    padding: 1.5% 3%;
    width: 97%;
}

div.auction-area-comment-flex-center input:focus-visible {
    outline: 1px auto #f9bf3b;
}

div.auction-area-comment-flex-right {
    width: 5%;
}

div.auction-area-comment-flex-right button {
    background-color: #fff;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 25px;
    border: none;
    margin: 30% 0;
    padding: 5%;
    transition: 0.3s;
}

div.auction-area-comment-flex-right button:hover {
    color: #f9bf3b;
}

div.auction-area-comment-info {
    background-color: #eee;
    border-radius: 30px;
    border: 2px solid #eee;
    margin: 0 2% 1% 1%;
    padding: 1.5% 4%;
}

div.auction-area-comment-date {
    font-size: 13px;
    margin-left: 5.5%;
}

.pricing-area .single-pricing-table.slick-slide:focus, .single_calculate input:focus, .single_calculate select:focus {
    outline: none;
}

.single-footer .form-control:focus {
    box-shadow: none;
}

.avatar-shipper {
    margin-right: 50px;
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
    border-radius: 50%;
}