.order-auctioned-filter {
    margin: 2.5% 0;
}

.order-us-bottom-area input {
    width: 23.25%;
    padding: 6px 10px;
    margin: 0 1.5% 1.5% 0;
    border: 1px solid #eee;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.order-us-bottom-area input:focus {
    width: 44%;
}

.order-us-bottom-area input:focus-visible {
    outline: 1px auto #f9bf3b;
}

.order-us-bottom-area button {
    font-weight: bold;
    padding: 6px 10px;
    border: 1px solid #eee;
    background-color: #f9bf3b;
    color: #fff;
    transition: 0.4s;
}

.order-us-bottom-area button:hover {
    background-color: #fff;
    color: #f9bf3b;
}

.order-auction-status-shipped, .order-auction-status-shipping, .order-auction-status-not-yet-shipped {
    font-size: 13px !important;
    border-radius: 5px;
    padding: 5px 7px;
    color: #fff;
}

.order-auction-status-shipped {
    background-color: #28a745;
}

.order-auction-status-shipping {
    background-color: #ffc107;
}

.order-auction-status-not-yet-shipped {
    background-color: #dc3545;
}

.single-order-us-bottom p {
    margin: 0 0 3px ;
}

.title-info-order-auction {
    font-size: 17px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px !important;
    height: 100px;
}

.see-another-page-1 {
    background-color: #f9bf3b;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
}

.see-another-page-2 {
    background-color: #f9bf3b;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
}

.see-another-page-1:hover, .see-another-page-2:hover {
    background-color: #fff;
    color: #f9bf3b;
}

.cmt-auction-option {
    font-size: 20px;
    margin: 39% 0;
    padding: 3px 6.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.cmt-auction-option:hover {
    background-color: #eee;
}

.cmt-auction-action {
    position: absolute;
    width: 8%;
    margin: -1% 0 0 -4.5%;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    animation: fadeIn linear 0.1s;
    animation: growth linear 0.1s;
    --growth-from: 0;
    --growth-to: 1;
}

.cmt-auction-action p {
    font-size: 14px;
    width: 100%;
    float: left;
    margin: 0;
    padding: 10px 15px;
    color: #5d5d5d;
    cursor: pointer;
    transition: 0.4s;
}

.cmt-auction-action p:hover {
    border-radius: 0;
    padding: 10px 15px;
    background-color: #eee;
}